<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68598414917-n1b9lqullvp5vm10rc3coeqvubn8rkmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68598414917-n1b9lqullvp5vm10rc3coeqvubn8rkmp</string>
	<key>API_KEY</key>
	<string>AIzaSyBxJUcCa43IQwDJ00PWCeqKmpzWjTohJ9s</string>
	<key>GCM_SENDER_ID</key>
	<string>68598414917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RoadTripBite</string>
	<key>PROJECT_ID</key>
	<string>roadtripbite-b024d</string>
	<key>STORAGE_BUCKET</key>
	<string>roadtripbite-b024d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68598414917:ios:b833a85c117235aa3a6d2c</string>
</dict>
</plist>